In [1]:
import pandas as pd

### Series

In [2]:
#serie de jugadores a partir de una lista
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
        index = [1,7,10,30])

In [3]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [5]:
pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [6]:
#serie a partir de diccionarios
dic = {1: 'Navas', 7:'Mbappe', 10:'Neymar', 30: 'Messi'}
pd.Series(dic)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

Al igual que numpy, ofrece indexacion y slicing

In [8]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])
psg_players

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [9]:
psg_players[1]

'Mbappe'

In [10]:
psg_players[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

### DataFrame

In [13]:
dict = {'Jugador':['Navas', 'Mbappe', 'Neymar', 'Messi'],
 'Altura' : [183.0, 170.0, 170.0, 165.0],
 'Goles': [2,4,6,7]}

df_players = pd.DataFrame(dict)
df_players

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0      4
2  Neymar   170.0      6
3   Messi   165.0      7

In [15]:
#podemos mostrar columnas
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [16]:
#podemos mostrar indices
df_players.index

RangeIndex(start=0, stop=4, step=1)

# Leer archivos csv y json

In [26]:
#archivo con informacion de libros
books = pd.read_csv('bestsellers-with-categories.csv', sep = ',', header = 0, 
    names =['Nombres', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'] )
books

,Nombres,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [28]:
# Lista de personajes de Harry Potter, el comando typ = 'Series' nos permite leer el archivo en
# forma Raw
pd.read_json('HPCharactersDataRaw.json', typ = 'Series')

0       {'Name': 'Mrs. Abbott', 'Link': 'https://www.h...
1       {'Name': 'Hannah Abbott', 'Link': 'https://www...
2       {'Name': 'Abel Treetops', 'Link': 'https://www...
3       {'Name': 'Euan Abercrombie', 'Link': 'https://...
4       {'Name': 'Aberforth Dumbledore', 'Link': 'http...
                              ...
1935    {'Name': 'Georgi Zdravko', 'Link': 'https://ww...
1936    {'Name': 'Zograf', 'Link': 'https://www.hp-lex...
1937    {'Name': 'Zonko', 'Link': 'https://www.hp-lexi...
1938    {'Name': 'Valentina Vázquez', 'Link': 'https:/...
1939    {'Name': 'Zygmunt Budge', 'Link': 'https://www...
Length: 1940, dtype: object